
body {
	width: 90%;
	height: 90vh;
	background-color: #eee;
	font-family: sans-serif;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	text-transform: uppercase;

	background-image: linear-gradient(rgba(0,0,0,.30), rgba(0,0,0,.40)100%), url(../img/2.jpg);
    background-origin: all;
    background-position: left ;
    background-repeat: repeat-y;
}

h2 {
	font-size: 28px;
	color: #fff;
	padding:2rem;
	margin: 1rem;
	background: transparent;
	border: 2px solid #eee;
	text-align: center;
	animation: animacao 8s linear infinite;
   	animation-delay: calc(-1s * var(--i));
}


@keyframes animacao {
    0%, 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
}


h2 span {
	color: #ccc !important;
}

canvas {
	border-radius: 8px;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}